# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/Debug
/QXml/Release/QXml.tlog
/QXml/Debug/QXml.tlog
/QXml/Debug/vc141.pdb
/QXml/Debug/vc141.idb
/QXml/Debug/QXml.log
/QXml/Release/vc141.pdb
/QXml/Release/QXml.log
/Release
